<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243475154114-7eqeceq6et576t038h23ad4boec20qsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243475154114-7eqeceq6et576t038h23ad4boec20qsj</string>
	<key>API_KEY</key>
	<string>AIzaSyAQToLx-j-di7ihcOgkYlg1uxxNLSJrcA4</string>
	<key>GCM_SENDER_ID</key>
	<string>243475154114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.systemFinances</string>
	<key>PROJECT_ID</key>
	<string>new-finances</string>
	<key>STORAGE_BUCKET</key>
	<string>new-finances.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243475154114:ios:6d363ee3e9ff6eeb36675b</string>
</dict>
</plist>